## Elham Bahrami
### 11/04/2019
#### I am going to ingest Community Health Survey

In [176]:
import pandas as pd

In [177]:
df = pd.read_csv("https://data.cityofnewyork.us/resource/2r9r-m6j4.csv")

### Let's explore the data and see what columns there are.

In [178]:
df.shape

(100, 6)

In [179]:
df.columns

Index(['survey', 'question', 'year', 'prevalence', 'lower95_ci', 'upper95_ci'], dtype='object')

In [180]:
df.head()

,survey,question,year,prevalence,lower95_ci,upper95_ci
0,CHS,Health Insurance Coverage,2010,83.3,82.0,84.6
1,CHS,Health Insurance Coverage,2010,83.3,82.0,84.6
2,CHS,Did not get needed medical care,2010,10.3,9.4,11.4
3,CHS,Did not get needed medical care,2010,10.3,9.4,11.4
4,CHS,No Personal Doctor,2010,NaN,NaN,NaN

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
survey        100 non-null object
question      100 non-null object
year          100 non-null int64
prevalence    96 non-null float64
lower95_ci    96 non-null float64
upper95_ci    96 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 4.8+ KB

In [182]:
# how many missing values there are in the data;
df.isnull().sum()

survey        0
question      0
year          0
prevalence    4
lower95_ci    4
upper95_ci    4
dtype: int64

In [183]:
# Since the missing values are not that many so I just remove them.
df = df.dropna()

In [184]:
df.shape

(96, 6)

In [185]:
df.isnull().sum()

survey        0
question      0
year          0
prevalence    0
lower95_ci    0
upper95_ci    0
dtype: int64

In [186]:
df.describe()

              year  prevalence  lower95_ci  upper95_ci
count    96.000000   96.000000   96.000000   96.000000
mean   2012.083333   41.454167   39.895833   43.010417
std       1.389181   27.862187   27.550619   28.099981
min    2010.000000    9.600000    8.700000   10.500000
25%    2011.000000   16.800000   15.475000   18.300000
50%    2012.000000   24.450000   23.100000   25.750000
75%    2013.000000   68.700000   66.475000   70.850000
max    2014.000000   86.200000   85.200000   87.200000

In [187]:
# Slicing the data to have columns:'year', 'question', 'prevalence'
df2 = df[['year', 'question','prevalence']]

In [188]:
df2.head()

   year                                           question  prevalence
0  2010                          Health Insurance Coverage        83.3
1  2010                          Health Insurance Coverage        83.3
2  2010                    Did not get needed medical care        10.3
3  2010                    Did not get needed medical care        10.3
6  2010  Drinks 1 or more sugar-sweetened beverages per...        30.3

### Since we have some repitaions in year and question columns so it is a good idea to make the long data set wide.

In [189]:
df_question = df2.pivot_table(index='year', columns='question')

In [190]:
# Making question as column index and year as row index.
df_question.head()

             prevalence                                                       \
question Binge Drinking Colon cancer screening, adults age 50+ (colonoscopy)
year
2010                NaN                                               67.5
2011               17.9                                               68.6
2012               19.6                                               68.5
2013               18.2                                               69.0
2014               16.5                                               69.9

                                          \
question Did not get needed medical care
year
2010                                10.3
2011                                10.7
2012                                11.1
2013                                11.2
2014                                 9.6

                                                             \
question Drinks 1 or more sugar-sweetened beverages per day
year
2010                                                   30.3
2011                                                   29.9
2012                                                   28.2
2013                                                   23.3
2014                                                   22.5

                                                                         \
question Flu shot in last 12 months, adults ages 65+ (not age-adjusted)
year
2010                                                   62.3
2011                                                   67.4
2012                                                   61.8
2013                                                   66.8
2014                                                   64.2

                                                               \
question Health Insurance Coverage No Personal Doctor Obesity
year
2010                          83.3                NaN    23.4
2011                          81.4               16.9    23.7
2012                          80.2               18.3    24.2
2013                          79.1               19.1    23.4
2014                          86.2               15.6    24.7

                                                                 \
question Self-reported Health Status (excellent/very good/good)
year
2010                                                   79.1
2011                                                   78.2
2012                                                   78.7
2013                                                   76.9
2014                                                   77.8


question Smoking Status (current smokers)
year
2010                                 14.0
2011                                 14.8
2012                                 15.5
2013                                 16.1
2014                                 13.9

In [191]:
# Making year as column index and question as row index.
df_year = df2.pivot_table(index='question', columns='year')

In [192]:
df_year.head()

                                                   prevalence              \
year                                                     2010  2011  2012
question
Binge Drinking                                            NaN  17.9  19.6
Colon cancer screening, adults age 50+ (colonos...       67.5  68.6  68.5
Did not get needed medical care                          10.3  10.7  11.1
Drinks 1 or more sugar-sweetened beverages per day       30.3  29.9  28.2
Flu shot in last 12 months, adults ages 65+ (no...       62.3  67.4  61.8


year                                                2013  2014
question
Binge Drinking                                      18.2  16.5
Colon cancer screening, adults age 50+ (colonos...  69.0  69.9
Did not get needed medical care                     11.2   9.6
Drinks 1 or more sugar-sweetened beverages per day  23.3  22.5
Flu shot in last 12 months, adults ages 65+ (no...  66.8  64.2

### Here two analytic steps that I can go with the wide data;

###  In df_question which question has the highest or lowest prevalence?

In [193]:
df_question.max()

            question
prevalence  Binge Drinking                                                    19.6
            Colon cancer screening, adults age 50+ (colonoscopy)              69.9
            Did not get needed medical care                                   11.2
            Drinks 1 or more sugar-sweetened beverages per day                30.3
            Flu shot in last 12 months, adults ages 65+ (not age-adjusted)    67.4
            Health Insurance Coverage                                         86.2
            No Personal Doctor                                                19.1
            Obesity                                                           24.7
            Self-reported Health Status (excellent/very good/good)            79.1
            Smoking Status (current smokers)                                  16.1
dtype: float64

### In df_question which year has the highest or lowest prevalence?

In [195]:
df_year.min()

            year
prevalence  2010    10.3
            2011    10.7
            2012    11.1
            2013    11.2
            2014     9.6
dtype: float64